@media only screen and (max-width: 768px) {
  .container {
    width: 95%;
  }
}

body {
  background-color: #e5dfd7;
  /* background-color: #f7f4ef; */
}

code {
  background-color: #dbd6ce;
  color: #914f4f;
}

a {
  color: #4f7591;
}

.btn-primary {
  color: #fff;
  background-color: #4f7591;
  border-color: #4f7591;
}

.container {
  width: 50%;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  padding-top: 2%;
}

.header h1 {
  padding-bottom: 5%;
}

.quote blockquote {
  border-left: none;
  font-style: italic;
  font-size: 1.2em;
  padding: 1%;
}

.infos {
  font-size: 1.2em;
}

.pdf {
  padding-top: 3%;
}

.photo {
  padding-top: 3%;
  opacity: 0.85;
}

.stars {
  padding-left: 10px;
}

@media print {
  .header-right {
    display: none;
  }

  .pdf {
    display: none;
  }

  .container {
    width: 100%;
  }

  blockquote {
    border: none;
  }

  #skills {
     padding-top: 10%;
  }
}

